@define-color background #31323E;
@define-color foreground #EDEBDD;
@define-color fg-accent #60519B;
@define-color fg-inactive #0F1217;

@define-color fg-cpu #2D8CC5;
@define-color fg-memory #649051;
@define-color fg-disk #C6BD8B;
@define-color bg-tooltip #6E706B;

* {
    font-family: 'CodeNewRoman Nerd Font Propo';
    font-size: 16px;
}

window#waybar {
    all:unset;
    transition: all 0.3s ease-in-out;
}
.modules-center {
    padding: 8px;
    margin: 6px 0px 0px 0px;
    border-radius: 10px;
    background: alpha(@background, 0.65);
}
.modules-right {
    margin: 6px 0px 0px 0px;
}

/* WORKSPACES */
#workspaces {
    padding: 0px 6px;
}
#workspaces button {
    all:unset;
    padding: 0px 4px;
    color: alpha(@fg-accent, 0.35);
    transition: all 0.3s ease-in-out;
}
#workspaces button:hover {
    color: @fg-accent;
}
#workspaces button.active {
    color: @fg-accent;
}
#workspaces button.empty {
    color: alpha(@fg-inactive, 0.35);
}
#workspaces button.empty:hover {
    color: @fg-accent;
}
#workspaces button.empty.active {
    color: @fg-accent;
}

/* GROUP */
#notifications, #activity, #info {
    padding: 0px 4px;
    border-radius: 10px;
    margin-right: 6px;
    background: alpha(@background, 0.65);
}

#custom-notifications, #network, #bluetooth, #custom-lock, #custom-reboot, #custom-poweroff, #cpu, #memory, #disk {
    padding: 0px 8px;
    transition: all 0.3s ease-in-out;
    color: @foreground;
}
#custom-notifications:hover, #network:hover, #bluetooth:hover, #custom-lock:hover, #custom-reboot:hover, #custom-poweroff:hover {
    color: @fg-accent;
}

tooltip {
    border-radius: 10px;
    background: alpha(@bg-tooltip, 0.65);
}

#cpu {
    color: @fg-cpu;
}
#memory {
    color: @fg-memory;
}
#disk {
    color: @fg-disk;
}